networks:
  meteo.net:
    driver: bridge

services:
  php:
    build:
      context: build
      dockerfile: 8.4-cli.Dockerfile
    ports:
      - '8888:80'
    volumes:
      - ./app:/var/php
    working_dir: /var/php
    networks:
      - meteo.net
    command: sh -c "composer install && php -S 0.0.0.0:80 -t public"