* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7f8;
    color: #333;
    line-height: 1.6;
}

header {
    background: #0077b6;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

section {
    background: white;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

h2 {
    margin-bottom: 0.8rem;
    color: #023e8a;
}


ul {
    list-style: none;
}

li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

#stations-section ul {
    max-height: 300px;
    overflow-y: auto;
}

#decision-section h2 {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

#decision-section h2[data-decision="conseillé"] {
    background-color: #38b000;
    color: white;
}

#decision-section h2[data-decision="déconseillé"] {
    background-color: #d00000;
    color: white;
}


#sources-section ul li  {
    word-break: break-all;
}



@media (max-width: 600px) {
    main {
        padding: 0.5rem;
    }
    section {
        padding: 0.8rem 1rem;
    }
    h2 {
        font-size: 1.2rem;
    }
}